body{
    padding: 0;
    margin: 0;
    background-image: url('../image/fone.jpg');
    background-size: cover;
}
body>.backgroundBody{
    background-color: rgba(255, 255, 255, 0.2);   
    
}
header{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
    background-image: url('../image/2top.png');
    font-family: Arial, Helvetica, sans-serif;
    align-items:flex-start;
}
nav{
    width: 100%;
    height: 300px;
    background-image: url('../image/header.png');
   background-size: cover;
   background-position-y: -200px;
   margin: 0;
   padding: 0;
}
.logname{
    width: 30%;
    flex-wrap: wrap;
    height: 100%;
    position: relative;
    left: 200px;
    display: flex;
    align-items: center;
    
}
.name,.name>h1{
    display: inline-block;
    margin: 5px;
    color: rgb(146, 49, 14);
}

.logo{
    display: inline-block;
    width: 80px;
    height: 80px;
    background-image: url('../image/logo.png');
    background-size: cover;
    background-color: orangered; 
    border-radius: 15%;
}
.keys{
    width: 60%;
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: flex-end;
}
.keys>input{    
    height: 100%;
    width: 150px;
    border: none;
    background-color: transparent;
    font-size: 24px;
    font-weight: bold;
    color: rgb(255, 60, 0);
    outline:none;
    text-align: center;
    
}
.keys>input:active{
    background-color: rgb(155, 189, 133);
}
.express{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;

}
.express>p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 28px;
    font-weight: 900;
}
nav input{
    background-color: orangered;
    width: 120px;
    height: 40px;
    border:none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 14px;
    font-weight: 800;
    color: white;
    outline:none;
}
nav input:active{
    background-color: rgb(87, 28, 6);
    outline:none;

}
main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 3px;
}
.firstBlock,.secondBlock,.thirdBlock{
    display: flex;
    width: 80%;
}
.sauna{
    width: 40%;
    height: 600px;
    background-image: url('../image/SmallNewsauna.png');
    background-size: cover;
    margin: 3px;
}


.massager{
    width: 70%;
    height: 600px;
    background-image: url('../image/massager.jpeg');
    background-size: cover;
    margin: 3px;
}
.bottle{
    width: 50%;
    height: 600px;
    background-image: url('../image/bottle.jpeg');
    background-size: cover;
    margin: 3px;   
}

.saunaText,.massagerText,.BotleText{
    width: 60%;
    padding: 20px;
    background-color: rgb(255, 228, 196, 0.6);
    margin: 3px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: rgb(71, 71, 71);
}
footer{
   
    width: 100%;
    background-image: url('../image/background_grass1.jpg'); 
    background-size: cover;
    background-color: rgb(66, 165, 91);
    height: 320px;
    display: flex;
    justify-content: space-around;
    align-items:  center;
}
iframe{
    width:500px;
    height:250px;
    margin: 20px 0 20px 0;
}
.links input{
    display: flex;
    background-color: transparent;
    width: 120px;
    height: 40px;
    border:none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 20px;
    font-weight: 800;
    color: rgb(255, 15, 14);;
    outline: none;
    flex-direction: column;
}

.links input:active{
    background-color: rgb(87, 28, 6);
    outline:none;
}
.contacts{
    color: rgb(255, 15, 14);    
}
.contacts ul{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 800;
    list-style-type: none;
    line-height: 35px;
}
